body {
  padding: 150px;
}

.box {
  width: 420px;
  height: 420px;
  margin: 25px;
  border: 12px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
}

.box-3 {
  background-color: bisque;
}

.box-1 {
  border-color: green;
  color: purple;
}

.box-2 {
  border-color: gray;
  color: white;
}

.box-3 {
  border-color: blue;
  color: red;
}
