i {
  color: red;
}

.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

p .line {
  color: gray;
}

.odd i {
  text-decoration: underline;
}

b {
  color: purple;
}

a {
  color: green;
}

.odd .line {
  color: blue;
}
.even b {
  text-decoration: underline;
}
a[href^="http://"]
{
  color: red;
}
a[href$='.com'] {
  color: black;
}
