input[type='checkbox']:checked + label {
  color: green;
}

input[type='radio']:checked + label {
  background: lightgreen;
}

select option:checked {
  font-weight: bold;
  color: red;
}

input[type='checkbox'] + label {
  color: lightpink;
  background: lightpink;
}

input[type='radio'] + label {
  background: lightpink;
}
